body {
  margin: 0;
  padding: 0;
  background: #5e83d1;
  font-family: sans-serif;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  flex-direction: column;
}

.form {
  background-color: #ffffffe4;
  padding: 30px;
  border-radius: 8px;
  width: 700px;
  box-shadow: 0 10px 30px rgba(0, 0, 0, 0.2);
}

h2 {
  margin-bottom: 10px;
}

h4 {
  margin-top: 20px;
  margin-bottom: 10px;
  color: #333;
}

.grid {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 12px;
}

input {
  padding: 10px;
  border-radius: 5px;
  border: 1px solid #dddddda6;
}

.btn {
  margin-top: 20px;
  width: 200px;
  padding: 12px 30px;
  background-color: #2563eb;
  color: white;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-weight: bold;
}

.btn:hover {
  background-color: #1a5498;
}

.table-wrapper {
  margin-top: 30px;
  width: 90%;
}

table {
  width: 100%;
  border-collapse: collapse;
  background: #fff;
  border-radius: 8px;
  overflow: hidden;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
}

th {
  background: #36304a;
  color: white;
  padding: 12px;
}

td {
  padding: 10px;
  text-align: center;
  border-bottom: 1px solid #eee;
}

tr:nth-child(even) {
  background-color: #f9f9f9;
}
